.pe-container {
    background-color:khaki;
    padding: 0;
    margin: 0;
    border: 0;
}

.title {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    margin: 0;
    border: 0;
}

.text {
    flex: 1 1 auto;
    padding: 5px 10px;
    margin: 0;
    border: 0;
}

.image-gallery {
    padding: 5px 10px;
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

/* Smartphones (portrait mode) */
@media (max-width: 600px) { 
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }
}